.stock {
    background-color: #1c1c1c;
    height: 1500px;
}

#title{
    color: cadetblue;
    right: 800px;
    background-color: #1c1c1c;
}

#chart {
    width: 70%;
    height: 70%;
    margin: 70px 300px 100px 100px;
}

.fixed{
    background-color: #1c1c1c;
    width: 100%;
    height: 77px;
    position: sticky;
    top: 25px;
}

#text{
    margin-top: 10px;
    width: 337px;
    margin-left: -194px;
}

.form{
    margin-left: 35px;
    padding: 5px;
    margin-right: 150px;
}

.symbol{
    margin-top: 150px;
    margin-left: -500px;
    color:cadetblue;
}
label{
    width: 174px;
    color: cadetblue;
    font-size: 18px;
    margin-left: -245px;
}

input::placeholder{
    color: white;
}

.btn-primary{
    margin-left: 60px;
    background-color: cadetblue !important;
    border-color: #92acc7 !important;
}

.form-control {
    width: 179px !important;
    color: #f8f9fa !important;
    background-color: cadetblue !important;
    margin-left: 15px;
}

#exampleFormControlSelect1 {
    margin-left: 63px;
}
